.navigation-wrapper {
    display: inline-block;
    font-size: 30px;
    color: #484646;
    position: fixed;
    overflow-y: scroll;
    margin-top: 40px;
}
.nav-icon {
    padding: 15px;
}
.nav-icon span{
    cursor: pointer;
}
.logo-icon span {
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 41px;
    font-size: 15px;
    text-align: center;
    line-height: 2.8em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.active{
    color: #4280f1;
}


