<div class="row navigation-wrapper">
    <div class="col-3">
        <div class="logo-icon">
            <span class="primary-color">EA</span>
        </div>
        <div class="nav-icon">
            <span routerLink="home" routerLinkActive="active"><i class="fa fa-home" aria-hidden="true"></i></span>
        </div>
        <div class="nav-icon">
            <span routerLink="about" routerLinkActive="active"><i class="fa fa-user-circle-o"
                    aria-hidden="true"></i></span>
        </div>
        <div class="nav-icon">
            <span routerLink="talents" routerLinkActive="active"><i class="fa fa-briefcase"
                    aria-hidden="true"></i></span>
        </div>
        <div class="nav-icon">
            <span routerLink="experience" routerLinkActive="active"><i class="fa fa-graduation-cap"
                    aria-hidden="true"></i></span>
        </div>
        <div class="nav-icon">
            <span routerLink="projects" routerLinkActive="active"><i class="fa fa-tasks" aria-hidden="true"></i></span>
        </div>
        <div class="nav-icon">
            <span routerLink="contact" routerLinkActive="active"><i class="fa fa-comments-o"
                    aria-hidden="true"></i></span>
        </div>
    </div>
</div>