<div class="container project-wrapper">
    <div class="row ml-4">
        <h2 class="title mb-5">Recent Projects</h2>
        <div class="col-md-4 mb-3" *ngFor="let item of data.projects; let i=index;">
            <div class="card">
                <i class="fa project-icon" [ngStyle]="getColor(i)" [ngClass]="item.iconClass" aria-hidden="true"></i>
                <div class="card-overlay">
                    <div class="project-title">
                        {{item.projectTitle}}
                    </div>
                    <span class="project-title">Have a look:</span> <a class="project-link"
                        [href]="item.websiteLink">{{item.websiteLink}}</a>
                </div>
            </div>
        </div>
    </div>
</div>