.card {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-top-right-radius: 10px;
    cursor: pointer;
    height: 220px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border: 0px;
    width: 85%;
    overflow: hidden;
}
.project-wrapper{
        max-height: 100%;
        margin-top: 45px;
        margin-bottom: 60px;
        padding-top: 45px;
        padding-bottom: 60px;
}
.project-icon{
    font-size: 30px;
    background-color: #4280f1;
    border-radius: 50%;
    color: #fff!important;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card-overlay {
    //transform: scale(4) translateZ(0);
    transform: translateY(0px);
    opacity: 1;
}
.card:hover .btn-custom{
    opacity: 1;
}
.card:hover .project-title{
    opacity: 0;
}
.card-overlay{
    width: 164%;
    position: absolute;
    height: 127%;
    border-radius: 50%;
    background: #23272bbf;
    // top: 21px;
    // left: 97px;
    z-index: 0;
    transition: transform 0.3s ease-out;
    transform: translateY(250px);
    opacity: 0;
}
.project-title {
    font-size: 14px;
    margin-top: 20px;
    font-weight: 600;
}
.btn-custom {
    padding: 4px 0px;
    margin-top: 20px;
    font-size: 14px;
    background-color: transparent;
    border: 3px solid #ffffff;
    color: #fff;
    font-weight: 800;
    letter-spacing: 0.05rem;
    line-height: 1.9em;
    opacity: 0;
    transition: transform 0.3s ease-out;
    position: absolute;
    border-radius: 3px;
    bottom: 36px;
    width: 35%;
}