.app-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}
.row{
    height: 100vh;
}
@media screen and (max-width: 800px) {
    .app-wrapper {
        text-align: center
    }
  }
