<nav class="navigation-wrapper">
    <div class="logo-icon">
        <span class="primary-color">EA</span>
    </div>
    <span routerLink="/home" routerLinkActive="active">
        <i class="fa fa-home" aria-hidden="true"></i>
    </span>
    <span routerLink="/about" routerLinkActive="active">
        <i class="fa fa-user-circle-o" aria-hidden="true"></i>
    </span>
    <span routerLink="/skills" routerLinkActive="active">
        <i class="fa fa-briefcase" aria-hidden="true"></i>
    </span>
    <span routerLink="/experience" routerLinkActive="active">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
    </span>
    <span routerLink="/projects" routerLinkActive="active">
        <i class="fa fa-tasks" aria-hidden="true"></i>
    </span>
    <span routerLink="/contact" routerLinkActive="active">
        <i class="fa fa-comments-o" aria-hidden="true"></i>
    </span>
</nav>