<div class="container contact-wrapper">
    <app-alerts *ngIf="isMessageSent" [messageCode]="messageCode" (onClose)="onClose()">
    </app-alerts>
    <div class="row">
        <h2 class="title">Get In Touch</h2>
        <div class="col-4 background-img margin-top-45">
            <div class="contact-info">
                Let's talk about everything!!
            </div>
            <div class="email-info">Don't like Forms? Send me an <span class="email-label"><a
                        href="mailto:eshaawasthi55@gmail.com">email.</a><i class="fa fa-envelope-o"
                        aria-hidden="true"></i></span></div>
        </div>
        <div class="col-8 margin-top-45">
            <form (ngSubmit)="sendMail($event)">
                <div class="form-group disp-flex">
                    <input type="text" class="form-control mr-20" name="name" [(ngModel)]="name" placeholder="Your Name"
                        [required]="true">
                    <input type="email" class="form-control" name="email" [(ngModel)]="emailId"
                        placeholder="Email Address" [required]="true">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" [(ngModel)]="subject" placeholder="Subject"
                        [required]="true">
                </div>
                <div class="form-group">
                    <textarea type="text" class="form-control" rows="4" [(ngModel)]="message" placeholder="Message"
                        name="message" [required]="true"></textarea>
                </div>
                <button class="btn-custom" [disabled]="!name || !emailId || !subject || !message">Send
                    Message</button>
            </form>
        </div>
    </div>
</div>