/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.primary-color{
    background-color: #4280f1;
    color: #fff;
}
body{
    background-color: #f9f9ff;
}
.disp-flex{
    display: flex;
}
.center{
    justify-content: center;
}
.image img{
    border-radius: 50%;
}
.title {
    font-size: 35px;
    font-weight: 800;
    color: #525252;
}
.btn-custom {
    background-color: #4280f1;
    border: #4280f1;
    border-radius: 30px;
    color: #fff;
    line-height: 1.9em;
    padding: 8px;
    width: 47%;
    font-size: 17px;
    font-weight: 700;
}
.disp-inline{
    display:inline-block;
}